
#header{
  position: relative;
  width: auto;
  height: 100px;
  background-color: #4d2800;
  /*border: 1px solid black;*/
}

#sidebar{
  position: relative;
  width: 250px;
  height: 880px;
  text-align: center;
  background-color: #cc6600;
  z-index: 1;
  /*border: 1px solid brown;*/
}

#main{
  position: relative;
  width: auto;
  height: 880px;
  margin-top: -880px;
  background-color: grey;
  /*border: 1px solid green;*/
}

#footer{
  position: relative;
  height: 80px;
  background-color: #1a0d00;
  /*border: 1px solid red;*/
}

.sideBtn{
  position: relative;
  margin: 1px;
  top: 200px;
  height: 50px;
  border: 1px solid black;
  line-height: 50px;
}

#imgUploader{
  position: relative;
  left: 300px;
}
