/* 

color: https://color.adobe.com/Coffe-kuler-color-theme-1296739/edit/?copy=true&base=2&rule=Custom&selected=0&name=Copy%20of%20Coffe%20kuler&mode=rgb&rgbvalues=0.85098,0.572549,0.231373,0.65098,0.196078,0.031373,0.45098,0.113725,0.039216,0.25098,0.086275,0.05098,0.14902,0.047059,0.039216&swatchOrder=0,1,2,3,4

*/ 

* {
  word-wrap: break-word;
}

body {
  padding-top: 90px;
  background: url('../img/back.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
}

#footerimg {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: -999;
}

.header-img>img {
  width: 33%;
}

.huge-header {
  font-size: 64px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heads-up {
  color: darkred;
  padding: 4px;
  font-size: 46px;
  border-radius: 2px;
  font-style: bold;
}

#nav .navbar-toggle {
  background: #40160D;
}

span.icon-bar {
  background: #260C0A;
}

.scrolling {
  background: #260C0A;
  transition: 0.5s ease-in;
}

.header-text {
  position: relative;
  top: -200px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  /*background: rgba(0, 0, 0, 0.3);*/
  background: white;
  color: black;
  display: flex;
  flex-direction: row;
}

.navbar {
  padding-bottom: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  transition: 0.5s ease-in;
}

.welcome-header {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 3px;
}

.in {
  background: #260C0A;
}

.header-info {
  margin-top: -150px;
}

.navbar-brand {
  font-size: 34px;
}

.container {
  color: white;
}

#article {
  background: transparent;
}

.jumbotron {
  background: rgba(0, 0, 0, 0.4);
}

.news {
  display: flex;
  flex-direction: row;
}

.image {
  margin-right: 20px;
  width: 50%;
}

.news-text {
  width: 50%;
}

.boxes {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .boxes {
    flex-direction: column;
  }

  .news {
    display: block;
  }

  .image, .news-text {
    width: 100%;
  }

  .box1, .box2, .box3 {
    margin: 5px;
    padding: 10px;
  }
}

.main-pic {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  display: flex;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact {
  flex-flow: row;
  text-align: center;
}

.contactme {
  list-style: none;
  padding: 0px;
}

.box1, .box2, .box3 {
  margin: 20px;
  background: black;
  padding: 20px;
  padding-top: 4px;
  border-radius: 5px;
  height: auto;
}

#nav a {
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.5s ease-in-out;
}

#nav>a.navbar-brand {
  font-style: bold;
}

#nav a:hover {
  background-color: #40160D;
  transition: 0.5s ease-in-out;
}

